<div class="card" style="border-color:black;border: 1px solid black; text-align: center ;">
    <div class="card-body col-lg-12">
        <div class="row">
            <div class="col-lg-6">
                <img [src]="product.image" style="height: 80%;width: 80%;text-align: center;">
            </div>
            <div class="col-lg-6">

                <div style="margin-top: 30px;">
                    {{product.title | uppercase}}
                    <i class="m-2" [ngClass]="getClass()" (click)="showProductDetailsToggle()"></i>
                </div>
                <div [hidden]="ProductDetail">
                    <p>PRICE: {{product.price|currency:'INR'}}</p>
                    <p>DESCRIPTION: {{product.description}}</p>
                    <p>CATEGORY: {{product.category}}</p>
                    <div>
                        <app-counter></app-counter>
                    </div>
                </div>
                <!-- <button class="btn btn-info m-1">Edit</button>
                <button class="btn btn-info m-1">Delete</button> -->
            </div>
        </div>
    </div>
</div>