<div class="container">
    <h1>ABOUT</h1>
    <div class="row " style="justify-content: center;margin-top: 5rem;">
        <div class="col-md-5 ">
            <img src="https://images.pexels.com/photos/68525/soap-colorful-color-fruit-68525.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="width: 100%;" class="img">
        </div>
        <div class="col-md-4" style="margin-left: 15px;"><span> WHO WE ARE</span>
            <h2> Simply dummy text of the printing industry.</h2>
            Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quae, fugiat consequatur voluptatem nihil.

            <br><br>
            <h2><button class="btn btn-primary">Read More</button></h2>
        </div>

    </div>

    <div class="row" style="justify-content: center;margin-top:5rem;">

        <div class="col-md-4" style="margin-left: 15px;"><span> WHO WE ARE</span>
            <h2> Simply dummy text of the printing industry.</h2>
            Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quae, fugiat consequatur voluptatem nihil.
            <br><br>
            <h2><button class="btn btn-primary">Read More</button></h2>
        </div>

        <div class="col-md-6">
            <img src="https://images.pexels.com/photos/1300975/pexels-photo-1300975.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="width: 100%; " class="img">

        </div>

    </div>
</div>

<!-- ----------------------Who we ARE--------------- -->

<div class="img1" style="margin-top: 5rem;">
    <h3>WELCOME TO STORE</h3>
    <p>Want To Get Out Natural Organic Fruits <br> Visit Our store?</p>
    <!-- <img src="https://images.pexels.com/photos/726021/pexels-photo-726021.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style=" width: 100%; height: 450px;"> -->

</div>



<!-- ------------------photo---cards---------------- -->

<!-- <div class="" style="margin-top: 5rem;">
    <div class="d-flex justify-content-center">OUR TEAM</div>
    <h1 class="d-flex justify-content-center">Photographers</h1>
</div>


<div class="row " style="justify-content: center;margin-top: 2rem;">
    <div class="col-md-3 ">
        <img src="../../assets/images/wed/p1.jpg" style="width: 80%;" class="img">
    </div>
    <div class="col-md-3 ">
        <img src="../../assets/images/wed/p2.jpg" style="width: 80%;" class="img">
    </div>
    <div class="col-md-3 ">
        <img src="../../assets/images/wed/p3.jpg" style="width: 80%;" class="img">
    </div>
</div>

<div class="row " style="justify-content: center;margin-top: 5rem;">
    <div class="col-md-3 ">
        <img src="../../assets/images/wed/p11.jpg" style="width: 80%;" class="img">
    </div>
    <div class="col-md-3 ">
        <img src="../../assets/images/wed/p12.jpg" style="width: 80%;" class="img">
    </div>
    <div class="col-md-3 ">
        <img src="../../assets/images/wed/p13.jpg" style="width: 80%;" class="img">
    </div>
</div> -->



<!-- ------------------photo------------cards------------ -->