<nav class="navbar w-100 navbar-expand-lg navbar-dark bg-dark fixed-top" style="opacity: 0.9;">
    <div class="container-fluid w-100">
        <a class="navbar-brand" href="#" style="padding-left: 45px;font-family: 'Times New Roman', Times, serif; font-size: 30px;opacity: 5;">Fruits Mart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse " style="justify-content:end;" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link   active " routerLink="/Home" aria-current="page" href="#">Home</a>
                <a class="nav-link" routerLink="/Shop">Shop</a>
                <a class="nav-link" routerLink="/About">About</a>
                <a class="nav-link" routerLink="/Blog">Blog</a>
                <a class="nav-link" routerLink="/Contact">Contact</a>


            </div>
            <!-- <a class="nav-link" routerLink="/Products" style="color: white;">NEW ARRIVALS</a> -->


            <i class=" fa fa-cart-plus " aria-hidden="true " style="color: white; "></i>

            <a class="nav-link" routerLink="/Login" style="color: white;">Login</a>
        </div>
    </div>


</nav>