<!-- <div class="container"><img src="..//../assets/contact image.jpg" style="height: 100%; width: 100%;"></div> -->

<div class="row w-100" style="justify-content: center; margin-top: 5%;">
    <h1>CONTACT</h1>
    <!-- ------------------- -->

    <!-- ------------------------------ -->

    <div class=" container col-sm-5">
        <P>Get In Touch</P>
        <h1>Leave Us a Message </h1>
        <form class="text" style="width: 600px; ">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class=" row mb-4 ">
                <div class="col " style="border-bottom: 2px solid rgb(119, 201, 119); ">
                    <div class="form-outline ">
                        <input type="text " id="form6Example1 " class="form-control " placeholder="Name " />
                        <label class="form-label " for="form6Example1 "></label>
                    </div>
                </div>

                <div class="col " style="border-bottom: 2px solid rgb(129, 221, 129); margin-left: 25px; ">
                    <div class="form-outline ">
                        <input type="text " id="form6Example2 " class="form-control " placeholder="Email " />
                        <label class="form-label " for="form6Example2 "></label>
                    </div>
                </div>
            </div>



            <!-- Message input -->
            <div class="form-outline mb-4 " style="border-bottom: 2px solid rgb(127, 211, 127); ">
                <textarea class=" form-control " id="form6Example7 " rows="4 " placeholder="Message "></textarea>
                <label class="form-label " for="form6Example7 "></label>
            </div>

            <!-- Submit button -->
            <div class="mmm " style=" color: crimson; text-align: center;">
                <button type="submit " class="btn btn-success " style=" width: 170px  ; height: 50px; border-radius: 25px 25px;">
                Send Message
            </button>
            </div>
        </form>
    </div>
    <div class="col-sm-6">
        <div class="card  ">
            <video src="..//../assets/production ID_4762243.mp4" autoplay></video>

        </div>

    </div>
    <div class="container" style="margin-top: 100px; width: 100%;" class="map">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31112.53400414017!2d77.55013806011758!3d12.903429346979836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae159e9c97c5b7%3A0x6b6dd1d13bb21985!2sFruits%20And%20Vegetables.%20Shivaraju%20G%20S!5e0!3m2!1sen!2sin!4v1651215266600!5m2!1sen!2sin"
            width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


    </div>

</div>
<br><br><br>

<section class="container p-t-90 p-b-45">
    <div class="row">
        <div class="col-sm-3" style="border: 1px solid black;margin-right: 2rem;">

            <div class="flex-col-c-m p-rl-5">
                <div class="wrap-pic-max-s p-b-25">
                    <i class="fa fa-map-marker" style="font-size: 55px;" aria-hidden="true"></i>
                </div>
                <h5 class="txt-m-114 cl3 txt-center p-b-9">
                    Address
                </h5>
                <span class="txt-s-101 cl6 txt-center">
8901 Marmora Road, Glasgow, D04 89GR
</span>
            </div>
        </div>
        <div class="col-sm-2 " style="border: 1px solid black;margin-right: 2rem;">
            <div class="flex-col-c-m p-rl-25 ">
                <div class="wrap-pic-max-s p-b-25 ">
                    <i class="fa fa-phone " style="font-size: 55px; " aria-hidden="true "></i>
                </div>
                <h5 class="txt-m-114 cl3 txt-center p-b-9 ">
                    Phone
                </h5>
                <span class="txt-s-101 cl6 text-center ">
(426) 460 8668
</span>
                <span class="txt-s-101 cl6 text-center ">
(317) 799 7654
</span>
            </div>
        </div>
        <div class="col-sm-2 " style="border: 1px solid black;margin-right: 2rem; ">
            <div class="flex-col-c-m p-rl-25 ">
                <div class="wrap-pic-max-s p-b-25 p-t-5 ">
                    <i class="fa fa-envelope " style="font-size: 55px; " aria-hidden="true "></i>
                </div>
                <h5 class="txt-m-114 cl3 txt-center p-b-9 ">
                    Emaill contact
                </h5>
                <span class="txt-s-101 cl6 txt-center ">
kevin.price@example.com
</span>
                <span class="txt-s-101 cl6 txt-center ">
ryanpatel@example.com
</span>
            </div>
        </div>&nbsp;
        <div class="col-sm-3 " style="border: 1px solid black; margin-right: 2rem;">
            <div class="flex-col-c-m p-rl-25 ">
                <div class="wrap-pic-max-s p-b-25 ">
                    <i class="fa fa-globe " style="font-size: 55px; " aria-hidden="true "></i>
                </div>
                <h5 class="txt-m-114 cl3 txt-center p-b-9 ">
                    Website
                </h5>
                <span class="txt-s-101 cl6 txt-center ">
www.organive.store.com
</span>
            </div>
        </div>
    </div>
</section>