<div class="row" style="justify-content: center;margin-top:5rem;">
    <div class="col-md-5" style="margin-left: 15px;">
        <img src="https://images.pexels.com/photos/2771926/pexels-photo-2771926.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" style="width: 100%; " class="img">

    </div>

    <div class="col-md-4">
        <h1>Orange</h1>
        <h4 style="text-decoration: underline;">120/Kg</h4>
        <span>
             <i class="fa fa-star" ></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <p>(Customer Review)</p>
        </span>

        <h2> Simply dummy text of the printing industry.</h2>
        Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quae, fugiat consequatur voluptatem nihil.
        <br>
        <div>
            <app-orangechild style="display: inline-flex;" (countEmitter)="receivecount($event)"></app-orangechild> QUANTITY:{{count}}
            <br><br>
            <h2> <a href="https://buy.stripe.com/test_28o7vE0oQh01fIY000" class="btn btn-primary btn-lg">Buy Now</a>
            </h2>

        </div>
        <!-- <app-products></app-products> -->

    </div>
</div>




<!-- https://images.pexels.com/photos/3584910/pexels-photo-3584910.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1 -->