<h1 style="text-align: center; margin-top: 6rem;text-decoration: underline;font-family: 'Times New Roman', Times, serif;">Fresh Arrivals</h1>

<div class="container-fluid" style="margin-top: 15px;">
    <div class="row">
        <div class="col-lg-3" style="border: 1px solid black;">
            <app-productsub [product]="productItem" *ngFor="let productItem of products"></app-productsub>
        </div>
        <div class="col-lg-6">
            <app-product [product]="productItem" *ngFor="let productItem of products">
            </app-product>
        </div>
        <div class="col-lg-3" style="border: 1px solid black;">
            <app-productsub [product]="productItem" *ngFor="let productItem of products"></app-productsub>
        </div>
    </div>
</div>