<!-- <div class="row w-100" style="margin-top: 10px;margin-left: 5px;">
    <h1>BLOG</h1>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="https://images.pexels.com/photos/1092730/pexels-photo-1092730.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100 shadow-1-strong rounded mb-4" height="350px" alt="" />

        <img src="https://images.pexels.com/photos/5677917/pexels-photo-5677917.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100 shadow-1-strong rounded mb-4" height="350px" alt="" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="https://images.pexels.com/photos/1171170/pexels-photo-1171170.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100 shadow-1-strong rounded mb-4" height="350px" alt="" />

        <img src="https://images.pexels.com/photos/1652312/pexels-photo-1652312.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100 shadow-1-strong rounded mb-4" height="350px" alt="" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="https://images.pexels.com/photos/314780/pexels-photo-314780.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100 shadow-1-strong rounded mb-4" height="350px" alt="" />

        <img src="https://images.pexels.com/photos/1099681/pexels-photo-1099681.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100 shadow-1-strong rounded mb-4" height="350px" alt="" />
    </div>
</div> -->

<!-- Gallery -->
<div class="row w-100" style="margin-top: 8px;margin-left: 5px;">
    <h1>BLOG</h1>
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="https://images.pexels.com/photos/89778/strawberries-frisch-ripe-sweet-89778.jpeg?cs=srgb&dl=pexels-pixabay-89778.jpg&fm=jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />

            <img src="https://images.pexels.com/photos/800376/pexels-photo-800376.jpeg?cs=srgb&dl=pexels-daria-shevtsova-800376.jpg&fm=jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Wintry Mountain Landscape" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="https://images.pexels.com/photos/139258/pexels-photo-139258.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds" />

            <img src="https://images.pexels.com/photos/708777/pexels-photo-708777.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="https://images.pexels.com/photos/207085/pexels-photo-207085.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

            <img src="https://images.pexels.com/photos/4113812/pexels-photo-4113812.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park" />
        </div>
    </div>
    <!-- Gallery -->
</div>